<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>King Poachers Film</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div class="main">
        
        <div class="anim">
            <h1>“...immediately thrusts the view into a shifting, disquieting atmosphere.. “</h1>
            <p class="credit">Joshua Speiser - Film Threat</p>
        </div>
        <img class="image" src="images/paint.jpg" alt="" width="1920">
    </div>
</body>
</html>